# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
logs/

# Virtual environment
env/
venv/
ENV/
Tail-Spend-Chatbot-Streamlit\venv/
.env/
Tail-Spend-Chatbot-Streamlit\.env.template